<div hide-xs="true" class="toggleViewMode">
    <md-button class="md-button md-icon-button" ng-click="setPath('teacher.html','teacher','1')">
        <md-icon md-svg-src="img/app/teacherView.svg" style="{{current.viewModeId=='1'?'fill: #FF5454 !important':''}}"></md-icon>
    </md-button>
    <md-button class="md-button md-icon-button" ng-click="setPath('teacher.html','gallery','2')">
        <md-icon md-svg-src="img/app/galleryView.svg" style="{{current.viewModeId=='2'?'fill: #FF5454 !important':''}}"></md-icon>
    </md-button>
    <md-button class="md-button md-icon-button" ng-click="setPath('/web/student.html','','3')">
        <md-icon md-svg-src="img/app/studentView.svg" style="{{current.viewModeId=='3'?'fill: #FF5454 !important':''}}"></md-icon>
    </md-button>
</div>
