<div oc-lazy-load="['js/dialog/courseSetting.js']" class="courseLessonPage" >
    <div ng-controller="courseLessonController" layout-padding="" layout-wrap="">
        <div>
            <md-button ng-click="addCourse('newCourse')">
                <md-icon>add_box</md-icon>
                add course
            </md-button>
        </div>

        <div class="cvh">
            <div layout="row" layout-wrap="">
                <div class="{{course.courseId===current.selectedCourse.courseId?'selectedRow redC':''}}"
                     ng-repeat="course in current.courseList" flex="100">
                    <div layout="row" ng-click="setCourse(course)" flex="100">
                            <div
                                    flex="100"
                                    ng-show="!course.editMode" ng-dblclick="course.editMode =!course.editMode">
                                {{course.title}}
                            </div>
                            <div ng-show="course.editMode">
                                <input ng-model="course.title" ng-blur="updateCourse(course)">
                                <md-button class="md-icon-button md-accent"
                                           ng-click="deleteCourse($event,current.selectedCourse.courseCode)">
                                    <md-icon md-svg-src="svg/action/delete.svg" >delete</md-icon>
                                </md-button>
                            </div>
                    </div>
                </div>
            </div>
        </div>

<!--            <input ng-model="current.selectedCourse.selectedLesson.title"-->
<!--                   title="add ore update lesson"-->
<!--                   placeholder="add ore update lesson"-->
<!--                   flex="80">-->
<!--            <md-button class="md-icon-button" ng-click="updateLesson()">-->
<!--                <md-icon md-svg-src="svg/action/edit.svg"></md-icon>-->
<!--            </md-button>-->
        <md-button
                   ng-click="addLesson('newLesson')">
            <md-icon>add_box</md-icon>
            Add Lesson
        </md-button>
        <div class="cvh" flex="100">
            <div layout="row" flex="100" ng-repeat="lesson in current.lessonList"
                 class="{{lesson.lessonId===current.selectedCourse.selectedLesson.lessonId?'selectedRow redC':''}}">
                <div ng-click="setLesson(lesson)" flex="100" layout="row">
                    <div flex="100"
                        ng-show="!lesson.editMode"
                         ng-dblclick="lesson.editMode=!lesson.editMode">
                        {{lesson.title}}
                    </div>
                    <div ng-show="lesson.editMode" layout="row" flex="100">
                        <input ng-model="current.selectedCourse.selectedLesson.title" flex="80" ng-blur="updateLesson(lesson)">

                        <md-button class="md-icon-button md-accent"
                                   ng-show="lesson.lessonId===current.selectedCourse.selectedLesson.lessonId"
                                   ng-click="deleteLesson(lesson.lessonId)">
                            <md-icon md-svg-src="svg/action/delete.svg">delete</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex="100">
        <div ng-include="'html/Lesson/topic.html?v='+currentVersion" flex="100"></div>
    </div>
</div>
</div>


