<div oc-lazy-load="['js/property/gallery.js?v='+currentVersion]" flex="100" style="width: 100vw">
    <div ng-controller="galleryController" flex="100" layout-padding="">
        <div ng-show="current.imageList">images for [ {{current.selectedLexical.title}} ]</div>
        <div ng-show="current.imageList" layout="row" style="border:solid 1px rgba(0,0,0,.12)" layout-padding="">
            <div ng-repeat="img in current.imageList">
                <div style="text-align: center">
                    <div>
                        <input type="file" id="file1" name="file" multiple ng-files="uploadImage($files)"
                               class="fileUploader"/>
                        <img ng-src="/api/media/{{img}}" width="90px" ng-click="uplaodFiles(img)"/>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="current.unreviewList.length>0">Acceptance list</div>
        <div ng-if="current.unreviewList.length>0" layout="row" style="border:solid 1px rgba(0,0,0,.12)"
             layout-padding="" layout-wrap="">
            <div flex="30" flex-xs="100">
                <div layout="row" layout-padding="">
                    <md-button class="{{allMode?'redC':''}}" ng-click="allMode=!allMode;reviewIndex=[null,1,2,3,4,5]">
                        all
                    </md-button>
                    <md-button class="{{!allMode?'redC':''}}" ng-click="allMode=!allMode;reviewIndex=[99]">
                        rejected
                    </md-button>
                </div>
                <div style="overflow-y: auto;max-height: 40vh" >
                    <div ng-repeat="item in current.unreviewList"
                         ng-show="reviewIndex.indexOf(item.review)>=0"
                         layout="row" layout-wrap="">
                        <div flex="10">{{item.review}}</div>
                        <md-button flex="80" layout="row" ng-click="checkLexicalImage(item)">
                            <div ng-repeat="lex in item.lexicalListObj" layout="row">
                                <div ng-hide="$index==0"> - </div>
                                {{lex.title}}
                            </div>
                        </md-button>
                    </div>
                </div>
            </div>
            <div flex="70" flex-xs="100">

                    <div style="text-align: center;" ng-if="current.galleryImagePath">

                        <div layout="row" flex="100" layout-align="center center">
                            <div ng-repeat="lex in current.checkLexicalImage.lexicalListObj" layout="row">
                                <div ng-hide="$index==0"  layout-padding=""> - </div>
                                <div  layout-padding="">{{lex.title}}</div>
                            </div>
                        </div>
                        <div style="min-height: 240px;" layout="row" layout-align="center center">
                            <input type="file" id="file1" name="file" multiple ng-files="uploadImage($files)"
                                   class="fileUploader"/>
                            <img
                                    src="{{current.galleryImagePath}}"
                                 ng-click="uplaodFiles(current.checkLexicalImage.documentId)" height="200px"/>
                        </div>
                        <div layout-padding="" layout="row" layout-align="center center">
                            <div>
                                <md-button
                                        ng-click="acceptDoc($event,current.checkLexicalImage)">
                                    <md-icon md-svg-src="img/app/accept.svg"></md-icon>
                                    accept
                                </md-button>
                            </div>
                            <div>
                                <md-button
                                        ng-click="rejectDoc($event,current.checkLexicalImage)">
                                    <md-icon md-svg-src="img/app/reject.svg"></md-icon>
                                    reject
                                </md-button>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

