<div oc-lazy-load="['js/property/teach.js?v='+currentVersion,'/web/css/timelineaudio.css?v='+currentVersion]">
    <div ng-controller="teachPropertyController" layout-wrap>
        <div class="TechDashboard" layout="row" layout-wrap="">
            <div flex="100" layout-align="center center" class="teachCard">

                <div flex="100" layout-padding="" layout="row">
                    <div flex="10">{{teach.teachCode}}</div>
                    <div flex>{{teach.title}}</div>
                    <md-button ng-click="updateTeach(teach)">
                        <md-icon md-svg-src="svg/action/save.svg"></md-icon>
                        save teach
                    </md-button>
                </div>
                <textarea ng-model="teach.description" style="width:100%;min-height: 250px"></textarea>

                <div layout="row" ng-if="!teach.voiceId" layout-padding="">
                    <input type="file" id="fileTeachSound" name="file" multiple ng-files="getTheFiles($files)"
                           class="fileUploader"/>
                    <md-button ng-click="uplaodFiles()">
                        <md-icon>add_circle</md-icon>
                        add Sound
                    </md-button>
                </div>
                <div layout="row" ng-if="teach.voiceId"  flex="100" layout-wrap="">
                    <div layout="row" flex="100">
                        <div flex="90" layout-padding="">
                            Sound [{{current.selectedCourse.selectedLesson.selectedTopic.selectedTeach.voiceId}}]
                        </div>

                        <md-button ng-click="deleteSound($event)">
                            <md-icon md-svg-src="svg/action/delete.svg"></md-icon>
                        </md-button>
                    </div>
                    <div flex="100" style="min-height: 80px">
                        <timelineAudio data-album="" data-url="{{'/api/media/'+teach.voiceId}}" id="myAudio"
                                       duration-data="duration"
                                       length-data="teach.duration"
                                       timeline="true"
                                       data-title=""
                                       data-artist="Artist"
                                       points-data="points"
                                       click-frame="localClickFrame"
                                       change-frame="loadKeyframe"
                        >
                        </timelineAudio>
                    </div>
                </div>
                <div ng-if="current.point">
                    <textarea ng-model="current.point.HTML" class="teachText"></textarea>
                    <div layout="row" layout-padding="">
                        <div flex="100"></div>
                        <div>
                            <md-button class="md-primary" ng-click="updatePoint()">
                                <md-icon md-svg-src="svg/action/save.svg"></md-icon>
                                save keyframe
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

