<html lang="fa">
<head style="height: 100%">
    <title>Languaj.com - Learn like children</title>
    <meta name="viewport" content="height=device-height, initial-scale=1, width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0,  viewport-fit=cover">

    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-Web-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-Web-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-Web-16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00ffd2">
    <meta name="msapplication-TileColor" content="#00ffd2">
    <meta name="theme-color" content="#00ffd2">

    <meta charset="UTF-8">
    <!--npm packages-->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angularjs-toast/angularjs-toast.min.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="node_modules/material-icons-font/material-icons-font.css">

    <script src="js/home.js?v=27.11"></script>
    <script src="js/path.js?v=27.1"></script>

    <script src="service/StorageService.js"></script>
    <link rel="stylesheet" href="css/home.css?v=27.3">


</head>
<body ng-app="myApp" ng-controller="HomeCtrl" >

    <div layout="row" class="header" flex="100" style="background: {{colors[current.site.page]}}">
        <div flex="10" class="header1"></div>
        <div flex="20" class="header1" layout="row" layout-padding="" >
            <img src="/site/img/logo.svg" >
        </div>
        <div flex="70" class="header2" >
            <div layout="row" layout-padding="" layout-align="start center">
                <div ng-repeat="page in pages">
                    <md-button ng-click="setPage(page)"
                    class="{{current.site.page==page?'selected':''}}"
                    >
                        {{page}}
                    </md-button>
                </div>
            </div>
        </div>
    </div>
    <div style="overflow-y: auto;height: calc(100vh - 100px)">
        <div layout="row" class="banner" style="background: {{colors[current.site.page]}}" layout-padding="">
            <div flex="50" layout="column" layout-padding="">
                <div flex="20"></div>
                <div flex="15" class="slogon1" layout="row">
                    <div flex="10"></div>
                    <div>{{lable.slogon[1]}}</div>
                </div>
                <div flex="20" class="slogon2" layout="row">
                    <div flex="10"></div>
                    <div>{{lable.slogon[2]}}</div>
                </div>
                <div flex="15"></div>
                <div flex="10" layout="row">
                    <div flex="10"></div>
                    <button class="signIn" href="student.html" ng-click="signIn()">Sign with google</button>
                </div>
            </div>
            <div flex="50" layout="row" layout-padding="">
                <img src="{{'/site/img/'+current.site.page+'.svg'}}">
            </div>
        </div>
        <div class="benefit" layout="row" layout-padding="" layout-wrap="">
            <div flex="100" layout="row" layout-padding="">
                <div flex="5"></div>
                <li class="itemTitle">
                    {{lable.benefit.title}}
                </li>
            </div>
            <div flex="100" layout="row" layout-padding="" style="text-align: center">
                <div flex="10"></div>
                <div ng-repeat="benefit in lable.benefit.list" flex="33">
                    <div class="bTitle" >{{benefit.title}}</div>
                    <div class="bDesc" layout-padding="">{{benefit.desc}}</div>
                </div>
                <div flex="10"></div>
            </div>
        </div>
        <div layout="row" layout-padding="">
            <div layout="row" layout-wrap="" ng-include="'/site/'+current.site.page+'.html?v=27'"></div>
        </div>
    </div>
</body>
</html>


