<div oc-lazy-load="['/js/viewer/viewer.js']">
    <div ng-controller="viewerController" layout="row" layout-wrap flex="100"></div>
</div>



<div layout="row" flex="100">
    <div layout="column" flex="100">
        <div flex="10">
            <div flex="100" layout="row" layout-padding="">
                <md-button flex-xs="15" class="md-icon-button" ng-click="backToList()">
                    <md-icon md-svg-src="/img/app/back.svg"></md-icon>
                </md-button>
                <!--            todo progress-->
                <div flex-xs="100" flex="100">
                    {{current.student.selectedCourse.selectedTopic.title}}
                </div>
            </div>
        </div>
        <div ng-include="current.viewer" flex="90" layout="row"></div>
    </div>
</div>

<div ng-show="current.answerIsCorrect===-1" flex="100" class="bottomDialog isIncorrect" layout="row" layout-wrap="">
    <div flex="100" layout-padding="" layout-align="center center" layout="row">
        بیشتر دقت کن پاسخ صحیح :
        {{current.correctAnswerText}}
    </div>
    <div flex="100" layout="row" layout-align="center center">
        <md-button flex="90" class="redB checkButton" flex="90" ng-click="func.nextLevel()">
            next
        </md-button>
    </div>
</div>
<div ng-show="current.answerIsCorrect===1" flex="100" class="bottomDialog isCorrect" layout="row" layout-wrap="">
    <div flex="100" layout-padding="" layout-align="center center" layout="row">
        تبریک میگم درست بود
    </div>
    <div flex="100" layout="row" layout-align="center center">
        <md-button flex="90" class="blueB checkButton" flex="90" ng-click="func.nextLevel()">
            next
        </md-button>
    </div>
</div>
