<!--todo commic config-->
<div oc-lazy-load="['js/LevelType/commic.js']">
    <div ng-controller="commicController" layout="row" layout-wrap="" >
        <div layout="row" flex="100" layout-wrap="" layout-padding="">

            <style>
                .levelHasTitle{
                    display: none;
                }
                .validityType{
                    display: none !important;
                }
                .characterIcon {
                    display: inline !important;
                }
            </style>
            <div layout="row" flex="100" layout-wrap="">
                <md-button flex="18" ng-repeat="i in getNumber(number) track by $index" style="padding: 5" ng-click="saveCharacter($index+1)">
                    <img src="img/charachter/{{$index+1}}.svg" width="20px">
                </md-button>
            </div>
<!--            -->
<!--            <md-radio-group ng-model="current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.selectedLevelLexicalPhrase.itemJSONObj.character" ng-change="saveItem()">-->
<!--                <md-radio-button value="man">man</md-radio-button>-->
<!--                <md-radio-button value="woman">woman</md-radio-button>-->
<!--                <md-radio-button value="people">people</md-radio-button>-->
<!--            </md-radio-group>-->

            <md-checkbox ng-model="current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.selectedLevelLexicalPhrase.itemJSONObj.isRight" flex="100" ng-change="saveItem()">
                Right side
            </md-checkbox>


        </div>
    </div>
</div>
