<div layout="row" flex="100" layout-padding="" layout-wrap="">
    <div flex="100" layout="row" flex="100">
        <li class="itemTitle" layout-padding="">
            {{lable.why.title}}
        </li>
    </div>
    <div class="itemDesc" flex="100" layout-align="center center" layout="row">
        <div class="itemDesc" flex="95" flex-xs="80">{{lable.why.desc}}</div>
    </div>
</div>
<div layout="row" flex="100" layout-padding="" layout-wrap="">
    <div flex="100" layout="row" flex="100">
        <li class="itemTitle" layout-padding="">
            {{lable.how.title}}
        </li>
    </div>
    <div class="itemDesc" layout="row" flex="100" layout-wrap="" layout-align="center center">
        <div layout="row" layout-wrap="" flex="80" layout-align="center center">
            <div ng-repeat="how in lable.how.list" layout-padding="" flex="33" flex-xs="100" layout="row" layout-wrap="">
                <div flex="100" layout-padding="" layout="row" style="height: 300px" layout-align="center center">
                    <img src="{{'/site/img/'+how.img+'.svg'}}" flex="90" ng-click="setPage(how.img)"/>---
                </div>
                <div flex="70" flex-xs="100">{{how.title}}</div>
            </div>
        </div>
    </div>
</div>
<div layout="row" flex="100" layout-padding="" layout-wrap="">
    <div flex="100" layout="row" flex="100">
        <li class="itemTitle" layout-padding="">
            {{lable.quality.title}}
        </li>
    </div>
    <div class="itemDesc" flex="100" layout="row" layout-align="center center">
        <div class="itemDesc" flex="95" flex-xs="80">{{lable.quality.desc}}</div>
    </div>
</div>
