<div layout-padding="">
<!--    <div layout="row" layout-align="center center" flex="100" layout-wrap="">-->
<!--        <div flex="30" layout-padding="">-->
<!--            <img  ng-src="{{profile.imageUrl}}" style="height: 70px;border-radius: 70px"/>-->
<!--        </div>-->
<!--        <div flex="70" layout-padding="" layout-align="center center">-->
<!--                {{profile.firstName}}-->
<!--                {{profile.lastName}}-->
<!--        </div>-->
<!--        <div flex="100" layout="row">-->
<!--                <md-select ng-model="profile.langId">-->
<!--                    <md-option ng-repeat="lang in langList" ng-value="lang.langId">-->
<!--                        {{lang.title}}-->
<!--                    </md-option>-->
<!--                </md-select>-->
<!--        </div>-->

<!--        <div flex="100">-->
<!--            {{profile.email}}-->

<!--            <md-button class="md-icon-button" ng-click="logOut()">-->
<!--                <md-icon>logout</md-icon>-->
<!--            </md-button>-->
<!--        </div>-->
<!--    </div>-->
</div>