.container {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #fff;
  padding: 0 5%;
  box-shadow: 0 1px 8px 1px #a9a4a4;
}

.back-btn {
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  &:hover {
    font-weight: bold;
  }
}

.percent {
  font-size: 13px;
}

.battery {
  background: url(http://languaj.com/web/life/life.svg) no-repeat;
  background-size: 75px;
  height: 17px;
  width: 78px;
}
