<div flex="100">

    <div flex="100" layout-wrap ng-show="current.selectedCourse.selectedLesson.selectedTopic" class="levelResult">
        <div layout="row" >
            <md-button class="md-icon-button" ng-click="current.editMode = !current.editMode ">
                <md-icon md-svg-src="svg/action/check.svg" ng-show="current.editMode"></md-icon>
                <md-icon md-svg-src="svg/action/checknull.svg" ng-hide="current.editMode"></md-icon>
            </md-button>
            <div ng-repeat="item in [1,2,3,4,5]" >
                <div ng-if="current.review ==item">
                    <md-button class="redB review" ng-click="selectReview(item)">{{item}}</md-button>
                </div>
                <div ng-if="current.review !=item" >
                    <md-button class="review" ng-click="selectReview(item)">{{item}}</md-button>
                </div>
            </div>
        </div>
        <md-list flex="100" layout-wrap>
            <div flex="=100"
                 ng-repeat="level in current.selectedCourse.selectedLesson.selectedTopic.levelList | filter:{review:current.review}"
                 class="{{level.levelId==current.viewerData.levelId?'redC':''}}"
                 title="{{level}}" layout="row">
                <div ng-show="current.editMode" layout="row">
                    <md-button class="md-icon-button" ng-click="addToSelectedItem(level)">
                        <md-icon md-svg-src="svg/action/check.svg" ng-show="level.clipboard"></md-icon>
                        <md-icon md-svg-src="svg/action/checknull.svg" ng-hide="level.clipboard"></md-icon>
                    </md-button>
                    <input style="width: 40px;height: 30px" type="number" ng-model="level.orderr" ng-blur="updateLevel(level)">
                </div>
                <div flex="100" layout="row" layout-align="center center" ng-show="!editMode" class="{{level.levelTypeId===12?'teachBack':''}}"
                     ng-click="setLevel($event,level)">
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdMenu.open()" >
                            <md-icon md-svg-src="svg/levelType/{{level.levelTypeId}}.svg"></md-icon>
                        </md-button>
                        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()" style="max-height: 90vh;">
                            <md-menu-item layout="row" ng-repeat="levelType in current.levelTypeList">
                                <md-button flex="70" class="{{current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelTypeId===levelType.levelTypeId?'md-accent':' '}}"
                                           ng-click="setLevelType(levelType,levelType.title,level)">
                                    <md-icon md-svg-src="svg/levelType/{{levelType.levelTypeId}}.svg"></md-icon>
                                    {{levelType.title}}
                                </md-button>
                                <md-menu flex="10">
                                    <md-button ng-click="$mdMenu.open()" ng-show="levelType.levelTypeListObj.length>0">
                                        <md-icon md-svg-src="img/app/chevron.svg"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4" ng-show="levelType.levelTypeListObj.length>0">
                                        <md-menu-item ng-repeat="levelText in levelType.levelTypeListObj">
                                            <md-button
                                                    ng-click="setLevelType(levelType,levelText,level)">
                                                {{levelText}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-button layout-padding="" layout-align="start center"
                               ng-dblclick="editMode = !editMode" layout="row">
                        <div style="font-size: 10px;color:silver">{{level.levelId}}</div>
                        {{level.title}}</md-button>
                    <div flex></div>
                </div>
                <div flex="100" layout="row" ng-show="editMode" class="{{level.levelTypeId===12?'teachBack':''}}">
                    <div flex="100" layout-padding="" layout="row">
                        <input flex="90" ng-model="level.title" ng-blur="updateLevel(level)">

                        <md-button ng-click="deleteLevel(current.viewerData.levelId)" ng-dblclick="deleteLevel(current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelId,1)"
                                   ng-show="level.levelId==current.viewerData.levelId">
                            <md-icon md-svg-src="svg/action/delete.svg">delete</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-list>



    </div>
</div>


