<div oc-lazy-load="['js/property/topic.js']" layout="row">
    <div ng-controller="topicController" layout="row" layout-wrap="">
            <div flex="100" layout-padding="" layout="row" >
                <md-button ng-click="addTopic('new topic')" >
                    <md-icon>add_box</md-icon>
                    add topic
                </md-button>
            </div>
            <div class="cvh" flex="100">
                    <div ng-repeat="topic in current.selectedCourse.selectedLesson.topicList"
                                  ng-class="topic.topicId===current.selectedCourse.selectedLesson.selectedTopic.topicId?'selectedRow redC':''">
                            <div flex="100" layout-padding=""
                                 ng-show="!topic.editMode"
                                 ng-dblclick="topic.editMode=!topic.editMode"
                                 title="{{topic}}" layout-wrap="">
                                <md-button class="md-icon-button"
                                           ng-click="setTopic(topic)">
                                    <md-icon md-svg-src="svg/action/editTopic.svg"></md-icon>
                                </md-button>
                                {{topic.title}}
                            </div>
                            <div flex="100"
                                 layout-padding=""
                                 ng-show="topic.editMode"
                            >
                                <input ng-model="topic.orderr" maxlength="2" flex="10" type="number" ng-blur="updateTopic(topic)">
                                <input ng-model="topic.title" flex="80" ng-blur="updateTopic(topic)">
                                <md-button class="md-icon-button"
                                           ng-click="deleteTopic(topic)">
                                    <md-icon md-svg-src="svg/action/delete.svg">delete</md-icon>
                                </md-button>
                            </div>
                    </div>
            </div>
    </div>
</div>
