<md-dialog>
    <div oc-lazy-load="['js/dialog/addLexical.js?v='+currentVersion]">
        <div ng-controller="addLexicalController" layout="row" layout-wrap>
            <h4 layout-padding="">
                <md-icon>{{mdDialogData.icon}}</md-icon>
                add {{mdDialogData.title}}
            </h4>
            <div layout-padding="" flex="100" class="scrollable">
                <div flex="100" layout="row" layout-padding>
                    <div>
                        <div class="flags Flag{{mdDialogData.langId}}"></div>
                    </div>
                    <input flex="100" class="searchPhrase" ng-model="current.lexical.searchText"
                           ng-keyup="findLexicalPhrase()">
                </div>
                <md-list flex="100">
                    <md-list-item ng-repeat="phrase in current.lexical.phraseList"
                                  ng-click="current.selectedLexical=phrase">

                        <md-button class="md-icon-button"
                                   ng-click="assignLexicalPhrase(phrase.phraseId)">
                            <md-icon>subdirectory_arrow_left</md-icon>
                        </md-button>

                        <div flex="80">{{phrase.title}}</div>
                    </md-list-item>
                    <md-list-item flex="100" layout="row">

                        <md-button class="md-icon-button md-accent"
                                   ng-click="addLexicalPhrase(current.lexical.searchText)">
                            <md-icon>add_box</md-icon>
                        </md-button>
                        <div flex="80">
                            <i>{{current.lexical.searchText}}</i>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</md-dialog>
