<div oc-lazy-load="'/js/POSType/pronoun.js'">
    <div ng-controller="pronounController">

        <div flex="100" layout="row">
            <md-menu flex="10">
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-icon>hourglass_full</md-icon>
                </md-button>
                <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                    <md-menu-item layout="row" ng-repeat="item in current.PronounList">
                        <md-button ng-click="setKasus(item)">
                            {{item.title}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <div layout-padding="">
                {{current.selectedPhrase.selectedPhraseWord.kasusTitle}}
            </div>
        </div>


        <div ng-repeat="pronoun in current.PronounList |filter:{kasusId: current.selectedPhrase.selectedPhraseWord.kasusId}">
<!--            <div class="subtitle">{{pronoun.title}}</div>-->
            <div layout="row" layout-wrap>
                <div ng-repeat="item in pronoun.pronounObj" flex="20"
                     ng-click="setPronoun(item)"
                     class="{{current.selectedPhrase.selectedPhraseWord.pronounId==item.pronounId?'selected':''}}">
                    {{item.title}}
                </div>
            </div>
        </div>
    </div>
</div>