<div oc-lazy-load="'/js/POSType/verb.js'">
    <div ng-controller="verbController">
        <div layout="row" flex="100">
            <md-icon flex="10">flare</md-icon>
            <md-autocomplete md-no-cache="true" flex="40"
                             md-search-text="current.infinitive.title"
                             ng-model-options="{debounce: 200}"
                             md-item-text="item.title"
                             md-selected-item-change="selectInfinitive(item)"
                             placeholder="Infinitive"
                             md-items="item in searchInfinitive()"
                             layout="row">
                <md-item-template flex="100">
                    <span md-highlight-text="current.infinitive.title" md-highlight-flags="^i">{{item.title}}</span>
                </md-item-template>
                <md-not-found layout="row" layout-padding>
                    not found
                    <md-button class="md-icon-button" ng-click="addInfinitive(searchText)">
                        <md-icon>add_box</md-icon>
                    </md-button>
                </md-not-found>
            </md-autocomplete>
            <md-menu flex="10">
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-icon>hourglass_full</md-icon>
                </md-button>
                <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                    <md-menu-item layout="row" ng-repeat="tense in tenseList">
                        <md-button ng-click="setTense(tense)">
                            {{tense.title}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <div layout-padding flex="30">
                {{current.selectedPhrase.selectedPhraseWord.tenseTitle}}
            </div>
            <div>
                <md-button class="md-icon-button" ng-click="unLockConjugation()">
                    <md-icon ng-hide="current.editConjugation">lock</md-icon>
                    <md-icon ng-show="current.editConjugation">lock_open</md-icon>
                </md-button>
            </div>
        </div>
        <div ng-show="current.selectedPhrase.selectedPhraseWord.tenseId!=null && current.selectedPhrase.selectedPhraseWord.infinitiveId!=null">
            <div ng-repeat="item in current.selectedPhrase.selectedPhraseWord.conjugationList" flex="100" layout="row"
                 class="gridList">
                <div flex="50" layout="row">
                    <div ng-repeat="conjugation in item.conjugationObj"
                         ng-click="selectConjugation(conjugation)" layout="row">
                        <div ng-hide="$index==0">/</div>
                        <div class="{{current.selectedPhrase.selectedPhraseWord.pronounId==conjugation.pronounId?'selected':''}}">
                            {{conjugation.title}}
                        </div>
                    </div>
                </div>
                <div flex="50" ng-hide="current.editConjugation">
                    <div class="{{current.selectedPhrase.selectedPhraseWord.pronounId==item.pronounId?'selected':''}}">
                        {{item.title}}
                    </div>
                </div>
                <div flex="50" ng-show="current.editConjugation">
                    <input ng-model="item.title" ng-blur="updateConjugation(item)">
                </div>
            </div>
        </div>
    </div>
</div>
