<div oc-lazy-load="['js/viewer/all.js?v='+currentVersion]">
    <div ng-controller="allController" ></div>
</div>
<style>
            .all {
                font-weight: bold;
                border-radius: 10px;
                height: 95px;
            }

            .gender1 {
                color: #27b9ff;
            }

            .gender2 {
                color: #ff3a82;
            }

            .gender3 {
                color: #73b981;
            }

            .gender4 {
                color: #ffd869;
            }

            .box {
                height: 50px;
                max-width: 50px;
                padding: 3px;
                /*border-radius: 50px;*/
            }

            .box img {
                height: 100%;
            }

            .boxOne {
                height: 55vh;
                width: 60vw;
                padding: 20px;
                border-radius: 15px;
            }

            .imgGender1 {
                border: solid 1px #27b9ff;
                background: #d3f3ff;
            }

            .imgGender2 {
                border: solid 1px #ff79aa;
                background: #ffdede;
            }

            .imgGender3 {
                border: solid 1px #73b981;
                background: #cbffd5;
            }

            .imgGender4 {
                background: #fff4a6;
                border: solid 1px #ffd869;
            }
        </style>
<div flex="100" layout="column">
    <div flex="90" style="overflow-y: auto;max-height: 100%">
        <div layout="row" flex="100" layout-wrap="" layout-padding="">
            <div ng-repeat="levelLexicalPhrase in current.viewerData.levelLexicalPhraseList"
                 ng-show="!current.showOne"
                 class="itemBox"
                 layout-padding=""
                 style="margin: 5px"
                 flex="30" layout="row" class="all" layout-wrap="" layout-align="center center">
                <div flex="100" layout="row" layout-align="center center"
                     class="gender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}"
                     style="{{$index==current.cnt?'font-weight:bold':''}};" ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                    {{levelLexicalPhrase.itemJSONObj.title}}
                </div>
                <md-button
                        ng-click="playItem($event,levelLexicalPhrase.itemJSONObj)"
                        class="box imgGender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}">
                    <img ng-src="{{'/api/media/'+levelLexicalPhrase.itemJSONObj.imageId}}">
                </md-button>

                <div flex="100" layout="row" layout-align="center center"
                     style="'font-weight:bold':''" ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                    {{levelLexicalPhrase.itemJSONObj.lexicalPhrase.title}}
                </div>
            </div>
            <div ng-repeat="levelLexicalPhrase in current.viewerData.levelLexicalPhraseList"
                 ng-show="current.showOne && $index==current.cnt"
                 flex="100" layout="column"  class="all" layout-wrap="" >

                <div class="itemBox heartbeat imgGender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}"
                     style="min-height: 70vh !important;"
                     layout="column"
                >
                    <div flex="10" layout="row" layout-align="center center"
                         class="gender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}"
                         ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                        {{levelLexicalPhrase.itemJSONObj.title}}
                    </div>
                    <div layout="row" flex="80" layout-align="center center">
                        <img
                                style="height: 100%"
                                ng-src="{{'/api/media/'+levelLexicalPhrase.itemJSONObj.imageId}}"
                                ng-click="playItem($event,levelLexicalPhrase.itemJSONObj.lexicalPhrase)">

                    </div>
                    <div flex="10" layout="row" layout-align="center center"
                         layout-padding=""
                         ng-hide="levelLexicalPhrase.itemJSONObj.hideText"
                    >{{levelLexicalPhrase.itemJSONObj.lexicalPhrase.title}}</div>
                </div>
            </div>
        </div>
    </div>
    <div layout-align="center center" flex="10" layout="row">
        <md-button flex="45"  class="blueB checkButton" ng-click="func.iGotIt()">ok</md-button>
        <md-button flex="45" class="redB checkButton" ng-click="func.playAll($event)" ng-disabled="isPlaying">
            <div ng-show="func.played">play again</div>
            <div ng-hide="func.played">play all</div>
        </md-button>
    </div>
</div>
