<div oc-lazy-load="['js/viewer/multi.js']">
    <div ng-controller="multiController"></div>
</div>

<div flex="100" layout="column">
    <!--    question section-->
    <div flex="20" layout="row" layout-align="center center" layout-padding="">
        <div flex="100" ng-repeat="levelLexicalPhrase in current.viewerData.levelLexicalPhraseList"
             ng-if="levelLexicalPhrase.itemJSONObj.validityTypeId===1"
             layout-align="center center"
             layout="row" layout-wrap="">
            <div flex ng-hide="levelLexicalPhrase.itemJSONObj.hideText" style="font-size: 13px !important;">
                {{levelLexicalPhrase.itemJSONObj.title}}
            </div>
            <div ng-show="levelLexicalPhrase.itemJSONObj.soundId!=-1">
                <md-button ng-click="playItem($event,levelLexicalPhrase)">
                    <md-icon
                            ng-show="!levelLexicalPhrase.itemJSONObj.imageId"
                            md-svg-src="img/app/sound.svg"></md-icon>
                    <img
                            ng-show="levelLexicalPhrase.itemJSONObj.imageId"
                            style="height: 8vh"
                            ng-src="{{'/api/media/'+levelLexicalPhrase.itemJSONObj.imageId}}">
                </md-button>


            </div>
        </div>
    </div>
    <!--    answer section-->
    <div flex="70" style="overflow-y: auto;max-height: 100%;" layout="row" layout-wrap="" layout-align="center center">
        <div
                flex="{{levelLexicalPhrase.itemJSONObj.itemFlex/2}}"
                flex-xs="{{levelLexicalPhrase.itemJSONObj.itemFlex}}"
                ng-repeat="levelLexicalPhrase in current.viewerData.levelLexicalPhraseList"
                ng-if="levelLexicalPhrase.itemJSONObj.validityTypeId!==1"
                ng-click="func.selectChoice($event,levelLexicalPhrase)"
                layout="row"
                style="height: {{levelLexicalPhrase.itemJSONObj.itemFlex.toString()!=='100'?'50':'25'}}%;"
                layout-padding="">
            <div class="itemBox"
                 layout-align="center center"
                 flex="100" layout="row" ng-show="levelLexicalPhrase.itemJSONObj.itemFlex.toString()==='100'">
                <div flex >
                    <div ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                        {{levelLexicalPhrase.itemJSONObj.title}}
                    </div>
                </div>
                <div flex="20">
                    <div >
                        <img
                                height="70%"
                                ng-class="current.viewerDataLexicalPhrase.levelLexicalPhraseId===levelLexicalPhrase.levelLexicalPhraseId?
                    current.viewerDataLexicalPhrase.itemJSONObj.animation:''"
                                ng-src="{{levelLexicalPhrase.itemJSONObj.imageId?'/api/media/'+levelLexicalPhrase.itemJSONObj.imageId:
                    '/img/app/megaphone.svg'}}">
                    </div>
                </div>
            </div>
            <div class="itemBox" flex="100"
                 layout="column"
                 layout-align="center center"
                 ng-show="levelLexicalPhrase.itemJSONObj.itemFlex.toString()==='50'">
                <div flex="20" ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                    {{levelLexicalPhrase.itemJSONObj.title}}
                </div>
                <div flex="80" layout="row" layout-padding="" layout-align="center center">
                    <img
                            height="100%"
                            ng-class="current.viewerDataLexicalPhrase.levelLexicalPhraseId===levelLexicalPhrase.levelLexicalPhraseId?
                        current.viewerDataLexicalPhrase.itemJSONObj.animation:''"
                            ng-src="{{levelLexicalPhrase.itemJSONObj.imageId?'/api/media/'+levelLexicalPhrase.itemJSONObj.imageId:
                        '/img/app/megaphone.svg'}}">
                </div>
            </div>
        </div>
    </div>
</div>
