<div oc-lazy-load="['js/viewer/starter.js']">
    <div ng-controller="starterController" layout="row" layout-wrap
         style="height: 85vh" flex="100" layout-align="center center">
        <style>
            .all {
                font-size: 12px;
                font-weight: bold;
                /*border:solid 1px rgba(0,0,0,0.1);*/
                border-radius: 10px;
                height: 95px;
            }

            .gender1 {
                color: #27b9ff;
            }

            .gender2 {
                color: #ff3a82;
            }

            .gender3 {
                color: #73b981;
            }

            .gender4 {
                color: #ffd869;
            }

            .box{
                height: 50px;
                max-width: 50px;
                padding: 3px;
                border-radius: 50px;
            }

            .box img{
                height: 100%;
            }

            .boxOne{
                height: 40vh;
                width: 40vh;
                padding: 20px;
                border-radius: 15px;
            }
            .imgGender1 {
                border: solid 1px #27b9ff;
                background: #d3f3ff;
            }

            .imgGender2 {
                border: solid 1px #ff79aa;
                background: #ffdede;
            }

            .imgGender3 {
                border: solid 1px #73b981;
                background: #cbffd5;
            }

            .imgGender4 {
                background: #fff4a6;
                border: solid 1px #ffd869;
            }

        </style>
        <div style="height: 75vh;overflow-y: auto" layout="row" flex="100" layout-wrap="" layout-align="center center">
            <div flex="100" style="height:5vh"></div>
            <div ng-repeat="levelLexicalPhrase in current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList"
                 ng-show="!current.showOne"
                 flex="33" layout="row" class="all" layout-wrap="" layout-align="center center"
                 style="{{$index==current.cnt?'background:#fff;border:solid 1px #ccc':''}}">
                <div flex="100" layout="row" layout-align="center center"
                     class="gender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}" style="{{$index==current.cnt?'font-weight:bold':''}};">
                    {{levelLexicalPhrase.itemJSONObj.title}}
                </div>
                <div  class="box imgGender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}">
                    <img
                            ng-src="'/api/media/'+{{levelLexicalPhrase.itemJSONObj.imageId}}"
                            ng-click="playItem($event,levelLexicalPhrase.itemJSONObj.lexicalPhrase)">
                </div>
                <div flex="100" layout="row" layout-align="center center"
                     style="'font-weight:bold':''">
                    {{levelLexicalPhrase.itemJSONObj.lexicalPhrase.title}}
                </div>
            </div>
            <div flex="100" layout="row" layout-padding="" layout-align="center center" ng-show="!current.showOne">
                &nbsp;
                {{current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList[current.cnt].itemJSONObj.title}}
                {{current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList[current.cnt].itemJSONObj.lexicalPhrase.title}}
            </div>


            <div ng-repeat="levelLexicalPhrase in current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList"
                 ng-show="current.showOne && $index==current.cnt"
                 flex="100" layout="row" class="all" layout-wrap="" layout-align="center center">
                <div flex="100" layout="row" layout-align="center center"
                     class="gender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}" style="font-weight:bold;font-size:30px">
                    {{current.nominativeArticleList[levelLexicalPhrase.itemJSONObj.wordList[0].genderId]}}
                    {{levelLexicalPhrase.itemJSONObj.title}}
                </div>
                <div class="boxOne imgGender{{levelLexicalPhrase.itemJSONObj.wordList[0].genderId}}">
                    <img
                            style="width: 100%;"
                            ng-src="'/api/media/'+{{levelLexicalPhrase.itemJSONObj.imageId}}"
                            ng-click="playItem($event,levelLexicalPhrase.itemJSONObj.lexicalPhrase)">
                </div>

                <div flex="100" layout="row" layout-align="center center"
                     style="font-weight:bold;font-size:30px" layout-padding="">
                    {{levelLexicalPhrase.itemJSONObj.lexicalPhrase.title}}
                </div>
            </div>

        </div>
        <div style="height: 10vh" layout-align="center center" flex="100">
            <div flex="100" layout="row" layout-align="center center">
                <md-checkbox ng-model="current.showOne" ng-change="selectOne()">one</md-checkbox>
                <md-button class="md-raised md-accent checkButton" ng-click="playAll($event)">
                    play all
                </md-button>
                <md-button
                        class="md-raised md-accent checkButton" ng-click="func.iGotIt()">ok
                </md-button>
            </div>
        </div>
    </div>
</div>
