<div oc-lazy-load="['js/viewer/gramatic.js','/web/css/timelineaudio.css']">
    <div ng-controller="gramaticController"></div>
</div>

<div flex="100" layout="column">
    <div flex="90">
        <div ng-if="current.teach.teachId" flex="100">
            <div class="teachDescription" flex="100" layout-padding="">
                <div ng-bind-html="current.teach.HTML" flex="100"></div>
            </div>
            <div  flex="100" layout-padding="">
                <div flex="100" ng-if="current.teach.voiceId">
                    <timelineAudio data-album="" data-url="{{'/api/media/'+current.teach.voiceId}}" id="myAudio"
                                   duration-data="current.teach.duration"
                                   timeline="true"
                                   length-data="current.teach.duration"
                                   data-title=""
                                   data-artist=""
                                   points-data="[]"
                                   click-data="func.goToFrame"
                                   click-frame="func.goToFrame"
                                   change-frame="func.changeFrame">
                    </timelineAudio>
                </div>
                <div ng-if="!current.teach.voiceId" class="red">teach has no voice !!!</div>
            </div>
            <div flex="100" layout-padding="">
                <div ng-bind-html="func.content" flex="100"></div>
            </div>
        </div>
        <div ng-if="!current.teach.teachId">
            <div class="red">no teach selected !!!</div>
        </div>
    </div>
    <div layout-align="center center" flex="10" layout="row">
        <md-button
                flex="90"
                ng-disabled="$index<current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList.length-1"
                class="blueB checkButton" ng-click="func.iGotIt()">ok
        </md-button>
    </div>
</div>
