<md-progress-linear style="height: 3px" value="{{current.progress}}" ng-show="current.progress>0"></md-progress-linear>

<div flex="100" layout="row" layout-padding="" class="simpleHeader" layout-wrap="">
    <md-button  ng-click="backToList()" flex="25" style="color:#314867">
        <md-icon md-svg-src="img/app/back.svg"></md-icon>
        back
    </md-button>
    <div flex="" layout-align="center center" layout="row">
        <div style="font-size: 1.2rem;font-weight: bold;color:#314867 ">
            {{current.student.selectedCourse.selectedTopic.title}}
        </div>
    </div>
    <div flex="25" layout-padding="">
        <div>
            <div class="life life{{userMistake.remainLife*10}}"></div>
        </div>
    </div>

</div>
