<div class="container" fxLayoutAlign="center start">
  <div fxFlex="90" fxLayout="column" fxLayoutGap="20px">


    <div fxFlex="90" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <div class="user-img"><img width="100%" height="100%" src="assets/icons/avatar.svg" alt="user"></div>
      <span class="title-global" fxFlex="70">Abbas Alavi ZamanAbadi</span>
    </div>

    <span>
    <hr/>
    </span>

    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px">

      <div (click)="selectCourse()" matRipple fxFlex.gt-sm="30" class="card-global" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div style="background-position: 0 -38px" class="flags"></div>
          <div class="title-global">Niveau A1</div>
        </div>
        <div>
          <span class="font-color">7 lessons and 86 topics</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="teacher-user"><img width="100%" height="100%" src="assets/icons/avatar.svg" alt="user"></div>
          <span class="teacher-name">Shahrokh Hassanzadegan</span>
        </div>
      </div>


      <div (click)="selectCourse()" matRipple fxFlex.gt-sm="30" class="card-global" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div style="background-position: 0 -79px" class="flags"></div>
          <div class="title-global">Niveau A1</div>
        </div>
        <div>
          <span class="font-color">5 lessons and 38 topics</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="teacher-user"><img width="100%" height="100%" src="assets/icons/avatar.svg" alt="user"></div>
          <span class="teacher-name">Amir Azizian</span>
        </div>
      </div>


      <div (click)="selectCourse()" matRipple fxFlex.gt-sm="30" class="card-global" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div style="background-position: 0 -157px" class="flags"></div>
          <div class="title-global">Niveau A1</div>
        </div>
        <div>
          <span class="font-color">11 lessons and 22 topics</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div class="teacher-user"><img width="100%" height="100%" src="assets/icons/avatar.svg" alt="user"></div>
          <span class="teacher-name">Sahar Dolatshahi</span>
        </div>
      </div>

    </div>

  </div>


</div>
