<div oc-lazy-load="['/js/property/imageList.js']">
    <div ng-controller="imageListController" layout="row" layout-wrap flex="100" layout-padding="">
        <div ng-repeat="imageId in current.imageList" layout="row">
            <div style="background-image: url('/doc/{{imageId}}');" class="lexicalImage">
<!--                <img ng-if="imageId"-->
<!--                     ng-src="/doc/{{imageId}}"-->
<!--                     title="{{imageId}}" class="lexicalImage"/>-->
                <md-button class="md-icon-button" ng-click="deleteDoc($event,imageId)">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>
