<div oc-lazy-load="['/js/property/level.js']">
    <div ng-controller="levelController" layout="row" layout-wrap
         ng-show="viewerData">
<!--        <div flex="100" class="levelLegend" layout-padding="" layout="row">-->
<!--            <input flex="90" ng-model="viewerData.title">-->
<!--            <md-button class="md-icon-button" ng-click="updateLevel()">-->
<!--                <md-icon md-svg-src="/svg/action/edit.svg"></md-icon>-->
<!--            </md-button>-->
<!--        </div>-->
<!--        <div flex="100" layout="row" layout-wrap="" >-->
<!--            <div ng-repeat="levelType in current.levelTypeList" layout="row"-->
<!--                 layout-wrap=""-->
<!--                 ng-click="setLevelType(levelType)">-->
<!--                <md-button class="md-icon-button {{viewerData.levelTypeId===levelType.levelTypeId?'md-accent':' '}}">-->
<!--                    <md-icon title="{{levelType.title}}">{{levelType.icon}}</md-icon>-->
<!--                </md-button>-->
<!--                <div></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <md-button flex="100"-->
<!--                class="md-accent"-->
<!--                ng-click="deleteLevel(viewerData.levelId)">-->
<!--            <md-icon>delete</md-icon>-->
<!--            delete-->
<!--        </md-button>-->
    </div>
    <md-divider></md-divider>
</div>
</div>