<div class="container" fxLayoutAlign="center center">
  <div fxFlex="70" fxFlex.lt-md="90" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center stretch">

    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div class="title-global">Hooray!</div>
      <div style="font-size: 15px">you achieved this topic</div>
      <div><img src="../../../../assets/img/horay.svg" alt=""></div>
    </div>

    <button mat-raised-button color="accent" routerLink="../topics">Back</button>

  </div>
</div>
