<div ng-if="current.student.selectedCourse" layout-padding="" class="itemBox">

    <div layout="row" flex="100" class="courseHead" layout-wrap="">

        <div layout="row" flex="100">
            <md-button ng-click="loadCourseList()">
                <md-icon md-svg-src="img/app/courses.svg"></md-icon>
                courses
            </md-button>
            <div flex=""></div>
            <div layout-padding="">
                <div >
                    <div class="life life{{userMistake.remainLife*10}}"></div>
                </div>
            </div>
        </div>
        <div layout="row" flex="100" class="topBold">
            <div flex="10">
                <div style="position: relative;left: -10px;width: 20px;zoom:1.3;background-position-x: 20px"
                     class="flags Flag{{current.student.selectedCourse.destLangId}}"></div>
            </div>
            <div>
                <img class="appImg teacherCourseImage" ng-src="{{current.student.selectedCourse.imageUrl}}"
                     width="50px" style="border-radius: 50px">
            </div>
            <div style="padding-left: 10px;font-family: Arial !important;    " flex="100">
                {{current.student.selectedCourse.title}}
                <div class="middleLight">
                    {{current.student.selectedCourse.firstName}}
                    {{current.student.selectedCourse.lastName}}
                </div>
            </div>
            <div>
                <md-button
                        ng-click="showBottomDialog('لینک این دوره در کلیپ بورد کپی شد',1000)"
                        ngclipboard
                        data-clipboard-text="{{__path+'/web/student.html?course='+current.student.selectedCourse.courseCode+'&ref='+current.profile.ref}}">
                    <md-icon md-svg-src="img/app/share.svg"></md-icon>
                    share
                </md-button>
<!--                <img src="img/app/book.svg" style="height: 50px" class="appImg">-->
            </div>
        </div>
    </div>
    <div ng-repeat="lesson in current.student.selectedCourse.lessonList" flex="100">
        <div >{{lesson.title}}</div>
        <div layout="row" layout-wrap="" flex="100">
            <div ng-repeat="topic in lesson.topicListObj" layout-wrap="" layout="row" layout-padding="" flex="50">
                <md-button class="topicBox{{topic.locked}}"
                           ng-click="getStudentTopicLevelList(topic,topic.review+1)" ng-disabled="topic.locked">
                    <div flex="100" layout="row" layout-align="center center" layout-wrap="">
                        <div flex="100" layout="row" layout-align="center center">
                            <div>{{topic.title}}                            <md-icon ng-show="topic.locked">lock</md-icon>
                            </div>
                            <div
                                    ng-if="Math.floor(topic.review/5)>0"
                                    layout-align="center center" layout="row"
                                    style="color:white;background: #00acb1;width: 15px;height: 15px;margin: 2px;border-radius: 5px"
                            >{{Math.floor(topic.review/5)>0?Math.floor(topic.review/5):''}}</div>
                        </div>
                        <div flex="100" layout-padding="">
                            <img class="appImg topicImg{{topic.locked}}" src="/api/media/{{topic.imageId}}" height="90px"/>
                        </div>
                    </div>
                    <!--                <md-icon ng-show="topic.achievedTopicId" style="color:green">check </md-icon>-->
                    <div layout="row" layout-align="center center" layout-padding="">
                        <img class="appImg"
                             ng-src="img/app/progress/progress_{{topic.review==null?0:topic.review%5}}.svg"/>
                    </div>
                </md-button>
            </div>
        </div>
    </div>
</div>
