<div ng-hide="current.student.selectedCourse" flex="100" layout="row" layout-wrap=""
     dir="rtl">

    <div layout-padding="" flex="100" layout="row" layout-wrap="" style="max-height: 80vh;overflow-y: auto">
        <div ng-repeat="course in current.student.courseList" layout-align="center center"
             flex="45" flex-xs="100" layout="row"
             layout-wrap="" style="padding:6px !important;" class="md-button" ng-click="setCourse(course)">
            <div class="itemBox" layout="row" flex="100" layout-wrap="" dir="ltr">
                <div class="topNormal" flex="100">
                    {{course.title}}
                </div>
                <div layout="row" layout-align="start center">
                    <div style="zoom: 0.7">
                        <div class="flags Flag{{course.destLangId}}"></div>
                    </div>
                    <div layout-padding="">Includes 34 topics</div>
                </div>
                <div layout="row" flex="100">
                </div>
                <div layout="row" flex="100">

                    <img ng-src="{{course.imageUrl}}" style="border-radius: 40px;height: 30px;"
                         class="appImg">
                    <div flex="5"></div>
                    <div style="color:#314867;">
                        {{course.firstName}} {{course.lastName}}
                    </div>
                </div>

            </div>

        </div>
    </div>
<!--    <div class="firstHint" ng-hide="config.tour[1]" layout="row" layout-padding="" flex="100">-->
<!--        <div flex="20">-->
<!--            <img src="img/app/teacher.svg" class="appImg" style="max-height: 50px"/>-->
<!--        </div>-->
<!--        <div>-->
<!--            دوره های جدید از طریق استاد یا معرف، برای شما ارسال خواهد شد.-->
<!--            <md-button class="md-accent" ng-click="func.userTour(1)">متوجه شدم</md-button>-->
<!--        </div>-->
<!--    </div>-->
</div>
