<div ng-if="current.student.selectedCourse" layout-padding="">
    <div layout="row" flex="100">
        <md-button
                ng-click="showBottomDialog('لینک این دوره در کلیپ بورد کپی شد',1000)"
                ngclipboard
                data-clipboard-text="{{__path+'/?course='+current.student.selectedCourse.courseCode+'&ref='+current.profile.ref}}">
            <md-icon md-svg-src="img/app/send.svg"></md-icon>
            همرسانی دوره
        </md-button>

        <div flex=""></div>
        <md-button ng-click="loadCourseList()">
            <md-icon md-svg-src="img/app/list1.svg"></md-icon>
            دوره ها
        </md-button>
    </div>
    <div layout="row" flex="100" class="courseHead">
        <div layout="row" flex="100" style="font-size:1.3rem;font-weight: bolder">
            <div>
                <img class="appImg teacherCourseImage" ng-src="{{current.student.selectedCourse.imageUrl}}"
                     width="50px">
            </div>
            <div style="padding-left: 10px;font-family: Arial !important;    " flex="100">
                {{current.student.selectedCourse.title}}
                <div style="font-size: 0.6rem;font-family: Arial !important;font-weight: lighter;">
                    {{current.student.selectedCourse.firstName}}
                    {{current.student.selectedCourse.lastName}}
                </div>
            </div>
            <div>
                <img src="img/app/book.svg" style="height: 50px" class="appImg">
            </div>
        </div>
    </div>

    <div ng-repeat="lesson in current.student.selectedCourse.lessonList" flex="100">
        <div style="font-family: Arial !important;">{{lesson.title}}</div>
        <div layout="row" layout-wrap="" flex="100">
            <div ng-repeat="topic in lesson.topicListObj" layout-wrap="" layout-padding="">
                <md-button class="lessonBtn"
                           ng-click="getStudentTopicLevelList(topic,topic.review+1)" ng-disabled="topic.locked">
                    <div flex="100" layout="row" layout-align="center center">
                        <div>{{topic.title}}</div>
                        <div
                                ng-if="Math.floor(topic.review/5)>0"
                                layout-align="center center" layout="row"
                        style="color:white;background: #00acb1;width: 15px;height: 15px;margin: 2px;border-radius: 5px"
                        >{{Math.floor(topic.review/5)>0?Math.floor(topic.review/5):''}}</div>
                    </div>
                    <md-icon ng-show="topic.locked">lock</md-icon>
                    <!--                <md-icon ng-show="topic.achievedTopicId" style="color:green">check </md-icon>-->
                    <div layout="row" layout-align="center center">
                        <img class="appImg"
                             ng-src="img/app/progress/progress_{{topic.review==null?0:topic.review%5}}.svg"/>
                    </div>
                </md-button>
            </div>
        </div>
    </div>
</div>
