<div class="courseSelected" ng-show="current.student.selectedCourse" layout-padding="">
    <div  layout="row" flex="100" class="courseHead">
        <div flex="">
            <div layout="row" style="font-size:1.3rem;font-weight: bolder">
                <div>
                    <img class="appImg teacherCourseImage" ng-src="{{current.student.selectedCourse.imageUrl}}" width="50px">
                </div>
                <div style="padding-left: 10px">
                    {{current.student.selectedCourse.title}}
                    <md-button ngclipboard
                               data-clipboard-text="{{__path+'/?course='+current.selectedCourse.courseCode+'&ref='+current.profile.ref}}">
                        <md-icon md-svg-src="/img/app/share.svg"></md-icon>
                    </md-button>
                    <div style="font-size: 0.6rem">
                        {{current.student.selectedCourse.firstName}}
                        {{current.student.selectedCourse.lastName}}
                    </div>
                </div>
            </div>

        </div>
            <md-button class="md-icon-button" ng-click="loadCourseList()">
                <md-icon md-svg-src="/img/app/closeBox.svg"></md-icon>
            </md-button>
    </div>
    <div ng-repeat="lesson in current.student.selectedCourse.lessonList" flex="100">
        <div>{{lesson.title}}</div>
        <div layout="row" layout-wrap="" flex="100">
            <div ng-repeat="topic in lesson.topicListObj" layout-wrap="">
                <md-button class="lessonBtn"
                           ng-click="getStudentTopicLevelList(topic,topic.review+1)" ng-disabled="topic.locked">
                    <div style="min-width: 100px">
                        {{topic.title}}
                    </div>
                    <md-icon ng-show="topic.locked">lock</md-icon>
                    <!--                <md-icon ng-show="topic.achievedTopicId" style="color:green">check </md-icon>-->
                    <div>
                        <img class="appImg" src="/img/app/progress/progress_{{topic.review==null?0:topic.review}}.svg"/>
                    </div>
                </md-button>
            </div>
        </div>
    </div>
</div>