<div ng-hide="current.student.selectedCourse" flex="100" layout="row" layout-wrap=""
     dir="rtl">
    <!--    <div layout="row" flex="30" flex-xs="100" layout-padding="">-->
    <!--        <input flex ng-model="courseCode"-->
    <!--               placeholder="کد دوره" flex="90">-->

    <!--        <md-button class="md-icon-button" ng-click="addStudentCourse(courseCode)">-->
    <!--            <md-icon style="color: #0FE0E0">add_circle</md-icon>-->
    <!--        </md-button>-->
    <!--    </div>-->

    <!--    <div layout="row" flex="100" layout-padding="" layout-align="start center">-->
    <!--        <div><img src="/img/app/teacher.svg" class="appImg" style="max-height: 32px"/></div>-->
    <!--        <div style="font-weight: bold">دوره های من</div>-->
    <!--    </div>-->

    <div class="firstHint" ng-hide="config.tour[1]" layout="row" layout-padding="" flex="100">
        <div flex="20">
            <img src="/img/app/teacher.svg" class="appImg" style="max-height: 50px"/>
        </div>
        <div style="font-size: 14px;font-weight: lighter !important;">
            دوره های جدید از طریق استاد یا معرف، برای شما ارسال خواهد شد.
            <md-button class="md-accent" ng-click="func.userTour(1)">متوجه شدم</md-button>
        </div>
    </div>
    <div layout-padding="" flex="100" layout="row" layout-wrap="" style="max-height: 80vh;overflow-y: auto">
        <div ng-repeat="course in current.student.courseList" layout-align="center center"
             flex="25" flex-xs="100" layout="row"
             layout-padding=""
             layout-wrap="" class="md-button itemBox" ng-click="setCourse(course)">
            <div flex="70" layout="row" layout-align="end center" layout-wrap="">
                <div style="font-size: 2rem;font-family: Arial;font-weight: bold;">
                    {{course.title}}
                </div>
                <div layout="row" style="font-family: Arial;font-weight: lighter;">
                    {{course.firstName}} {{course.lastName}}
                    <img ng-src="{{course.imageUrl}}" style="border-radius: 50px;height: 30px;padding: 5px"
                         class="appImg">
                </div>
            </div>
            <div flex="30">
                <img src="/img/app/book.svg" style="height: 80px" class="appImg">
            </div>
        </div>
    </div>
</div>