<div oc-lazy-load="['/js/viewer/introduce.js']">
    <div ng-controller="introduceController"></div>
</div>

<div flex="100" layout="column">
    <div flex="90" layout-align="center center" layout="row">
        <div ng-repeat="levelLexicalPhrase in current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList"
             ng-show="current.lexicalIndex==$index"
             flex="100" layout="row">
            <div flex="15" layout="row" layout-align="center center">
                <md-button class="md-icon-button redB" ng-click="func.showItem($index-1)"
                           ng-show="$index>0">
                    <md-icon>arrow_back</md-icon>
                </md-button>
            </div>
            <div flex="70" layout="column" layout-align="center center">
                <div flex="20" layout-align="center center" layout="row" layout-padding=""
                     ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                    <div ng-repeat="word in levelLexicalPhrase.itemJSONObj.wordList">
                        <div style="padding:2px" ng-if="!word.showHint">{{word.title}}</div>
                        <md-button style="padding:2px;text-decoration: underline" ng-if="word.showHint"
                                   ng-dblclick="showHint($event,word)">
                            {{word}}
                        </md-button>
                    </div>
                    <div style="position: absolute;z-index: 99999;" ng-click="hideHint($event)">
                        <div class="hintData"
                             layout-padding=""
                             ng-show="hintData"
                        >
                            <div ng-repeat="rtItem in hintData">
                                <b>{{rtItem.title}}</b>
                                <div layout-padding="" layout="row">
                                    <div ng-repeat="item in rtItem.lexicalObj">
                                        {{item.title}} ,
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div flex="40" layout-align="center center" layout="row">
                    <img
                            ng-if="levelLexicalPhrase.itemJSONObj.imageId"
                            ng-src="{{'/api/media/'+levelLexicalPhrase.itemJSONObj.imageId}}"
                            ng-click="playItem($event,levelLexicalPhrase.itemJSONObj.lexicalPhrase)"
                            class="animate-show md-button introImage {{levelLexicalPhrase.itemJSONObj.animation}}"/>
                    <img src="/img/app/megaphone.svg"
                         ng-if="levelLexicalPhrase.itemJSONObj.soundId!=-1 && ! levelLexicalPhrase.itemJSONObj.imageId"
                         class="animate-show md-button introImage {{levelLexicalPhrase.itemJSONObj.animation}}"
                         ng-click="playItem($event,levelLexicalPhrase.itemJSONObj.lexicalPhrase)"
                    >
                </div>
                <div flex="20" layout-align="center center" layout="row" layout-padding=""
                     ng-hide="levelLexicalPhrase.itemJSONObj.hideText">
                    <h1>
                        {{levelLexicalPhrase.itemJSONObj.lexicalPhrase.title}}
                    </h1>
                </div>
            </div>
            <div flex="15" layout="row" layout-align="center center">
                <md-button class="md-icon-button redB" ng-click="func.showItem($index+1)"
                           ng-show="$index<current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList.length-1">
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </div>

    </div>
    <div flex="10" layout="row" layout-align="center center">
        <md-button flex="90"
                   ng-disabled="$index<current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelLexicalPhraseList.length-1"
                   class="redB checkButton" ng-click="func.iGotIt()">ok
        </md-button>
    </div>
</div>
