<div oc-lazy-load="['/js/viewer/levelList.js']">
    <div ng-controller="lessonListController" layout="row" layout-wrap flex="100">

        <div ng-repeat="lesson in LessonTopicList" flex="100" layout-padding="" layout="row" layout-wrap="">
            <div flex="100"><b>{{lesson.title}}</b></div>
            <div flex="100" layout="row" layout-wrap="" layout-padding="">

                <div ng-repeat="topic in lesson.topicListObj" flex="20" flex-xs="50"
                     layout-align="center center" layout-padding="" layout="row">
                    <div class="topicList md-button checkButton" ng-click="getTopicLevelList(topic)" ng-disabled="topic.locked">
                        <div title="{{topic}}" >
                            {{topic.title}}
                        </div>
                        <md-icon ng-show="topic.locked">lock</md-icon>
                        <md-icon ng-show="topic.achievedTopicId" style="color:green">check</md-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>