<div oc-lazy-load="['/js/viewer/order.js?v=28']">
    <div ng-controller="orderController"></div>
</div>
<div flex="100" layout="column">
    <div flex="20" ng-include="'/html/viewer/header/charachter.html?v='+getRand()" layout="row"></div>
    <div flex="70" layout-padding="" layout="column" flex="100">
        {{error}}
        <div flex layout="row" class="selectedOrder"  layout-wrap="" >
            <div ng-repeat="item in func.answerWordList track by $index">
                <md-button
                        style="padding-left: 8px !important;padding-right: 8px !important;margin:5px !important;"
                        class="md-raised roundStrockBtn" ng-click="func.deSelectWord($index)"> {{item}} </md-button>
            </div>
        </div>
        <div layout="row" layout-wrap="" >
            <div ng-repeat="item in func.orderShuffleList track by $index">
                <md-button class="md-raised roundStrockBtn" ng-click="speak(item);func.selectWord($index)"
                           style="padding-left: 8px !important;padding-right: 8px !important;margin:5px !important;"
                >
                    {{item}}
                </md-button>
            </div>
        </div>

    </div>

    <div flex="10" layout-align="center center" layout="row">
        <md-button flex="90" class="redB checkButton" flex="90" ng-click="func.checkAnswer(true)">
            check
        </md-button>
    </div>
</div>
