<div oc-lazy-load="['/js/viewer/yes.js']">
    <div ng-controller="yesController"></div>
</div>

<div flex="100" layout="column">
    <div flex="90" layout="column" layout-align="center center">
        <div>{{func.questionLexicalPhrase.itemJSONObj.title}}</div>
        <div layout="row" flex="50" layout-align="center center" layout-padding="">
            <img ng-src="{{'/doc/'+func.questionLexicalPhrase.itemJSONObj.imageId}}"
                 ng-click="speak(func.questionLexicalPhrase.itemJSONObj.title)"
                 style="max-height:100%"
                 class="animate-show md-button {{func.questionLexicalPhrase.itemJSONObj.animation}}">
        </div>

        <div>{{func.answerLexicalPhrase.itemJSONObj.lexicalPhrase.title}}</div>
    </div>

    <div layout-align="center center" flex="10" layout="row">
        <md-button class="redB checkButton" ng-click="func.checkAnswer(false)" flex="45">
            NOK
        </md-button>
        <md-button class="blueB checkButton" ng-click="func.checkAnswer(true)" flex="45">
            OK
        </md-button>
    </div>
</div>

