<div oc-lazy-load="['/js/pages/levelDashboard.js']">
    <div ng-controller="levelDashboardController" layout="row" layout-wrap>
        <div ng-include="'html/property/level.html'"></div>

        <div flex="100" ng-if="current.viewerData.levelTypeId===12 && current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelId>0"
             layout-padding="" flex="100">
            <div flex="100" ng-include="current.levelType"></div>
            <div layout="row"
                  ng-include="'/html/Dashboard/TeachDashboard.html'" flex="100"> </div>
        </div>

        <div flex="100" ng-if="current.viewerData.levelTypeId!==12 && current.selectedCourse.selectedLesson.selectedTopic.selectedLevel.levelId>0">

            <div class="directLevelItem"  layout="row" flex="100" layout-wrap="" layout-padding=""
                 ng-show="current.selectedCourse.selectedLesson.selectedTopic && current.selectedLevel"
            >
                <textarea flex="100" ng-model="current.directText" ></textarea>
                <md-button ng-click="directAssign()">
                    <md-icon md-svg-src="/img/app/handyAdd.svg"></md-icon>
                    direct add
                </md-button>
            </div>
            <div flex="100" class="levelItemResult"
                 style="border-bottom:solid 1px rgba(0,0,0,0.1)">
                <div flex="100" ng-repeat="levelItem in current.viewerData.levelLexicalPhraseList">
                    <div flex="100" class="partRow" layout="row">
                        <div flex="5" style="max-width:4px" class="redB00e0e8"
                             ng-show="current.viewerData.selectedLevelLexicalPhrase.levelLexicalPhraseId===levelItem.levelLexicalPhraseId"></div>

                        <md-button class="md-icon-button characterIcon">
                            <img src="/img/charachter/{{levelItem.itemJSONObj.character}}.svg" width="20px"/>

                        </md-button>

                        <md-button class="md-icon-button validityType" ng-click="changeValidityType(levelItem)">
                            <div ng-repeat="validityType in current.validityTypeList">
                                <md-icon
                                        ng-show="levelItem.itemJSONObj.validityTypeId == validityType.validityTypeId && levelItem.phraseId"
                                        md-svg-src="/svg/validityType/{{validityType.icon}}.svg">
                                </md-icon>
                                <md-icon
                                        class="validityType_{{levelItem.itemJSONObj.validityTypeId}}"
                                        ng-show="levelItem.itemJSONObj.validityTypeId == validityType.validityTypeId && !levelItem.phraseId"
                                        md-svg-src="/img/app/handyAdd.svg">
                                </md-icon>

                            </div>
                        </md-button>
                        <md-button class="md-small validityType_{{levelItem.itemJSONObj.validityTypeId}}"
                                   flex="100" ng-click="selectLevelItem(levelItem)"
                                   layout-padding="">
                            {{levelItem.itemJSONObj.title}}
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="changeFlexType(levelItem)"
                                   ng-hide="levelItem.itemJSONObj.validityTypeId===1">
                            <div ng-repeat="flexType in flexTypeList">
                                <div ng-show="levelItem.itemJSONObj.itemFlex == flexType">
                                    <md-icon md-svg-src="/svg/flex/{{flexType}}.svg"
                                             aria-label="Insert Drive Icon">
                                    </md-icon>
                                    <!--                                {{flexType}}-->
                                </div>
                            </div>
                        </md-button>
                        <div>
                            <md-button ng-click="deleteLevelLexicalPhrase($event,levelItem)">
                                <md-icon md-svg-src="/svg/action/delete.svg">delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="100" class="partConfig" ng-if="current.viewerData.selectedLevelLexicalPhrase">
                <md-tabs>
                    <md-tab >
                        <md-tab-label><md-icon md-svg-src="/img/app/setting/global.svg"></md-icon></md-tab-label>
                        <md-tab-body>
                            <div flex="100" layout-padding="">
                                <div>
                                    <input ng-model="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.title"
                                           ng-blur="updateLevelLexicalJson(current.viewerData.selectedLevelLexicalPhrase)">
                                </div>
                                <div>
                                    <input ng-model="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.lexicalPhrase.title"
                                           ng-blur="updateLevelLexicalJson(current.viewerData.selectedLevelLexicalPhrase)">
                                </div>
                            </div>
                            <div flex="100" layout="row" ng-show="false">
                                <md-checkbox class="showTitle" ng-model="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.showText">
                                    <md-icon>title</md-icon>
                                </md-checkbox>
                            </div>
                            <div layout="row" ng-show="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.wordList.length===1">
                                <div ng-repeat="genderItem in genderList" >
                                    <div>
                                        <md-button class="md-icon-button"
                                                   ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.wordList[0].genderId==genderItem.genderId?'redB':''"
                                                   ng-click="setWordGender(genderItem.genderId)">{{genderItem.title[0]}}
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-wrap="">
                                <md-button class="md-icon-button" ng-repeat="animation in ['fix','rotary','heartbeat','blur']"
                                           ng-click="setAnimation(animation)">
                                    <md-icon
                                            md-svg-src="/img/app/animation/{{animation}}.svg"
                                            ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.animation===animation?'redC':''">
                                    </md-icon>
                                </md-button>
                                <md-divider></md-divider>

                                <md-button class="md-icon-button" ng-repeat="soundId in current.soundList"
                                           ng-value="soundId" ng-click="setSound($event,soundId)">
                                    <md-icon
                                            md-svg-src="/img/app/microphone.svg"
                                            ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.soundId===soundId?'redC':''">
                                    </md-icon>
                                </md-button>

                                <md-button class="md-icon-button" ng-value="soundId" ng-click="setSound($event,null)">
                                    <md-icon
                                            md-svg-src="/img/app/title.svg"
                                            ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.soundId===null?'redC':''">

                                    </md-icon>
                                </md-button>
                                <md-button class="md-icon-button" ng-value="soundId" ng-click="setSound($event,-1)">
                                    <md-icon
                                            md-svg-src="/img/app/no-sound.svg"
                                            ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.soundId===-1?'redC':''">
                                    </md-icon>
                                </md-button>
                                <md-divider></md-divider>
                                <md-button class="md-icon-button" ng-repeat="imageId in current.LevelLexicalPhraseImageList"
                                           ng-click="setImage(imageId)">
                                    <img ng-src="/api/media/{{imageId}}" height="30px"
                                         ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.imageId===imageId?'':'grayImage'">
                                </md-button>
                                <md-button class="md-icon-button" ng-click="setImage(null)">
                                    <md-icon
                                            md-svg-src="/img/app/no-photos.svg"
                                            ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.imageId===null?'redC':'grayImage'">
                                        visibility_off
                                    </md-icon>
                                </md-button>
                                <md-divider></md-divider>
                                <md-button class="md-icon-button" ng-click="setHideText()">
                                    <md-icon
                                            md-svg-src="/img/app/removeText.svg"
                                            ng-class="current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.hideText?'redC':''">
                                        visibility_off
                                    </md-icon>
                                </md-button>

                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label><md-icon md-svg-src="/img/app/setting/tooltip.svg"></md-tab-label>
                        <md-tab-body>
                            <div layout-padding="">
                                <div layout="row" layout-wrap="">
                                    <div ng-repeat="word in current.viewerData.selectedLevelLexicalPhrase.itemJSONObj.wordList">
                                        <md-button
                                                class="mini-button {{word.showHint?'redB':''}}"
                                                ng-click="addtooltip(word)">{{word.title}}</md-button>
                                    </div>
                                </div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label><md-icon md-svg-src="/img/app/setting/private.svg"></md-tab-label>
                        <md-tab-body>
                            <div flex="100" ng-include="current.levelType"></div>
                            <div ng-repeat="item in letterList" layout-padding="" layout="row" layout-wrap="">
                                <md-button class="md-icon-button md-raised" ng-click="hideLetter(item.index)"
                                           style="{{hideList[item.index]?'color:silver;':''}}">
                                    {{item.letter}}
                                </md-button>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>
</div>
