<html lang="fa">
<head style="height: 100%">
    <title>Languaj.com - Teacher Mode</title>
    <meta name="viewport" content="height=device-height, initial-scale=1, width=device-width, initial-scale=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0,  viewport-fit=cover">

    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">-->
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-Web-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-Web-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-Web-16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00ffd2">
    <meta name="msapplication-TileColor" content="#00ffd2">
    <meta name="theme-color" content="#00ffd2">

    <meta charset="UTF-8">

    <script type="text/javascript">
        document.write('<scr'+'ipt src="js/version.js?v='+Math.random()+'" type="text/javascript"></scr'+'ipt>');
    </script>

    <!--npm packages-->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angularjs-toast/angularjs-toast.min.js"></script>
    <script src="node_modules/ngstorage/ngStorage.min.js"></script>

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="node_modules/material-icons-font/material-icons-font.css">
    <link rel="stylesheet" href="css/global.css?v={{currentVersion}}">

    <script src="js/home.js?v={{currentVersion}}"></script>
    <script src="js/path.js?v={{currentVersion}}"></script>

    <script src="service/StorageService.js"></script>
</head>
<body ng-app="myApp" ng-controller="HomeCtrl" dir="{{current.site.dir}}">

<script ng-if="current.site.dir=='rtl'">
    document.write('<lin'+'k rel="stylesheet" href="css/home_ltr.css?v="'+currentVersion+'>');
</script>
<script ng-if="current.site.dir=='rtl'">
    document.write('<lin'+'k rel="stylesheet" href="css/home_rtl.css?v="'+currentVersion+'>');
</script>


<div layout="row" class="header" flex="100" style="background: {{colors[current.site.page]}}">
    <div flex="10" class="header1" title="languaj.com version {{currentVersion}}"></div>
    <div flex="20" flex-xs="70" class="header1" layout="row" layout-padding="">
        <md-button ng-click="setPage('home')" layout="row" layout-align="center center">
            <img src="site/img/logo.svg" >
        </md-button>
    </div>
    <div flex-xs="20" class="header1" hide-gt-xs layout="row" layout-align="center center">
        <md-button class="md-icon-button"  ng-click="showMenu=!showMenu">
            <md-icon md-svg-src="site/img/hamburger.svg"></md-icon>
        </md-button>
    </div>
    <div flex="50"  class="header2" hide-xs>
        <div layout="row"  layout-padding="" layout-align="start center" >
            <div ng-repeat="page in langLable.pages">
                <md-button ng-click="setPage(page.item)"
                           class="{{current.site.page==page?'selected':''}}">
                    {{page.title}}
                </md-button>
            </div>
        </div>
    </div>
    <div flex="20" layout="row" hide-xs class="header2">
        <div ng-repeat="lang in langList" layout="row" layout-padding="">
            <div>
                <div class="flags Flag{{lang.id}}" ng-click="setLang(lang)"></div>
            </div>
        </div>
    </div>
</div>
<div ng-show="showMenu" flex-xs="100">
    <div layout="row" layout-padding="">
        <div ng-repeat="lang in langList" layout="row">
            <div>
                <div class="flags Flag{{lang.id}}" ng-click="setLang(lang)"></div>
            </div>
        </div>
    </div>
    <md-divider ng-show="showMenu" ></md-divider>
    <div ng-repeat="page in langLable.pages">
        <md-button ng-click="setPage(page.item)" flex-xs="100"
                   class="{{current.site.page==page?'selected':''}}"
        >
            {{page.title}}
        </md-button>
    </div>
</div>
<div layout="row" class="banner" style="background: {{colors[current.site.page]}}" layout-padding="">
    <div flex="50" layout="column" layout-padding="" flex-xs="100">
        <div flex="20" flex-xs="5"></div>
        <div class="slogon1" layout="row">
            <div flex="10"></div>
            <div>{{lable.slogon[1]}}</div>
        </div>
        <div flex="20" flex-xs="30" class="slogon2" layout="row">
            <div flex="10"></div>
            <div>{{lable.slogon[2]}}</div>
        </div>
        <div flex="15" flex-xs="0"></div>
        <div flex="10" layout="row" layout-align-xs="center center">
            <div flex="10" flex-xs="0"></div>
            <button class="signIn" href="web/student.html" ng-click="signIn()">Sign with google</button>
        </div>
    </div>
    <div flex="50" layout="row" layout-padding="" hide-xs>
        <img src="{{'site/img/'+current.site.page+'.svg'}}">
    </div>
</div>
<div class="benefit" layout="row" layout-padding="" layout-wrap="">
    <div flex="100" layout="row" layout-padding="">
        <li class="itemTitle">
            {{lable.benefit.title}}
        </li>
    </div>
    <div flex="100" layout="row" layout-padding="" layout-wrap="" layout-align="center center">
        <div layout="row" flex="70" style="text-align: center" layout-wrap="" layout-padding="">
            <div ng-repeat="benefit in lable.benefit.list" flex="30" flex-xs="100" layout-padding="">
                <div class="bTitle">{{benefit.title}}</div>
                <div class="itemDesc" layout-padding="">{{benefit.desc}}</div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'site/'+current.site.page+'.html?v='+currentVersion" layout="row" layout-wrap=""></div>
</body>
</html>


